
@{
    ViewBag.Title = "Biografia";
}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/main.css" rel="stylesheet" />

<script src="~/Scripts/bootstrap.min.js"></script>

<h2 hidden>Historia de la empresa..</h2>

<div class="card">
    <img class="card-img-top" src="~/Content/images/elvigia.png" alt="">
    <div class="card-block">
        <p class="card-text" id="letra">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris venenatis nisi non libero pulvinar elementum ut eget nibh. Sed vulputate risus ac metus viverra venenatis. Suspendisse potenti. Mauris elementum volutpat consectetur. Phasellus nibh mi, maximus a varius quis, vestibulum eget odio. Vestibulum consectetur velit in metus ullamcorper, eget porttitor mauris maximus. Ut vulputate erat mauris, quis hendrerit orci euismod non. Cras non pharetra metus.
Duis ipsum mi, sollicitudin non dignissim ut, laoreet in mi. Donec viverra, metus sed placerat dictum, lectus augue convallis odio, sit amet cursus felis metus ut felis. In hac habitasse platea dictumst. Morbi dictum id est eu scelerisque. Vivamus efficitur feugiat elit eu efficitur. Nulla a dictum lorem. Nullam id erat quis ipsum placerat consequat non sit amet purus.
Aliquam porta fringilla massa, eget molestie tellus placerat nec. Curabitur in vehicula lorem. Curabitur dictum commodo augue, at bibendum massa elementum eu. Pellentesque aliquam suscipit congue. Sed non arcu blandit velit ornare efficitur feugiat suscipit neque. Vivamus sagittis gravida ipsum sed lacinia. Nunc eget viverra enim, aliquet rhoncus sem. Curabitur at sapien hendrerit, volutpat urna eget, mattis libero. Suspendisse ac sagittis enim. Morbi ut rhoncus nulla, eu venenatis sem. Nam et ultricies metus, semper lobortis erat. Etiam nec dapibus urna. </p>
    </div>
</div>