
@{
    ViewBag.Title = "Biografia";
}

<h2>Historia de la empresa..</h2>

<section id="section1Img">
 <p>Aquí va la imagen</p> 
</section>

<section id="section1Txt">
<p>Aquí va el texto</p>
</section>