@using Nucleo.WcfLaParis;
@{
    ViewBag.Title = "Marcas";
}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/main.css" rel="stylesheet" />

<script src="~/Scripts/bootstrap.min.js"></script>

<h2 id="alignProd">TODAS NUESTRAS MARCAS</h2>

<br />

<div class="shop-items">
    <div class="container-fluid text-center">
        
        <div class="row">
        @foreach(var marca in ViewBag.listarMarca)
        {
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <img class="img-responsive" src="~/Content/images/nbc.png" alt="" width="200" height="200">
                    <div class="item-dtls">
                        <p id="letra">Nombre: @marca.Nombre</p>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
</div>   