
@{
    ViewBag.Title = "Productos";
}

<link href="~/Content/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/main.css" rel="stylesheet" />

<h2>Productos</h2>

<div class="page">
    <div class="sidebar">
        <ul class="list-group">
            <li class="list-group-item">Tinte</li>
            <li class="list-group-item">Uñas</li>
            <li class="list-group-item">Extensión</li>
        </ul>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

@*<div class="container">
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Empresa</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>*@