
@{
    ViewBag.Title = "Establecimientos";
}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/main.css" rel="stylesheet" />

<script src="~/Scripts/bootstrap.min.js"></script>

<h2 id="sucur" hidden>Sucursales</h2>

<div class="card">
    <img class="card-img-top" src="~/Content/images/elvigia.png" alt="">
    <div class="card-block">
        <p class="card-text">La Paris <br /> Obelisco calle 1 <br /> Plaza el vigia <br /> Número 15</p>
    </div>
</div>
<br /> <br />
<div class="card">
    <img class="card-img-top" src="~/Content/images/elvigia.png" alt="">
    <div class="card-block">
        <p class="card-text">La Paris <br /> Obelisco calle 1 <br /> Plaza el vigia <br /> Número 15</p>
    </div>
</div>
<br /> <br />
<div class="card">
    <img class="card-img-top" src="~/Content/images/elvigia.png" alt="">
    <div class="card-block">
        <p class="card-text">La Paris <br /> Obelisco calle 1 <br /> Plaza el vigia <br /> Número 15</p>
    </div>
</div>