
@{
    ViewBag.Title = "inicioSesion";
}

<link href="~/Content/loginForm/loginForm.css" rel="stylesheet" />
<script src="~/Content/loginForm/LoginJs.js"></script>

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/main.css" rel="stylesheet" />

<h2>Iniciar sesión.</h2>

<div class="container">
    <div class="card card-container">
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" class="form-control" placeholder="E-mail" required autofocus>
            <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Recordarme
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Iniciar sesión</button>
        </form>
        <a href="#" class="forgot-password">
            ¿Olvidaste la contraseña?
        </a>
    </div>
</div>